<!-- HTML Head: ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- extend the base template and change title of page -->
{% extends "base.html" %}
{% block title %} Home {% endblock %}

<!-- HTML Body: ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
{% block content%}

    {% if user.is_authenticated %}
        <div class="header-container">
            <br>
            <h1>Welcome back, {{user.first_name}}!</h1>
        </div>
    {% else %}
        <div class="body-container">
        </div>
    {% endif %}

    <div class="header-container">
        <br>
        <h3>My Budget (Version 2)</h3>
        <br>
    </div>

    <div class="body-container">
        <br>
        <p>The purpose of this website is to help you track all of your money.</p>
        <br>
    </div>

{% endblock %}