<!-- extend the base template and change title of page -->
{% extends "base.html" %}
{% block title %} Log In {% endblock %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
{% block content%}

    <!-- Create the login form -->
    <div class="centered-form">
    <div class="form-container">
    <form method="POST">
        <h3 align="center">Login</h3>
        <!-- email -->
        <!-- NOTE: in name="email" it's used to get 'email' from the form -->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
            />
        </div>
        <br>
        <!-- pw -->
        <div class="form-group">
            <label for="password">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
            />
        </div>
        <br>
        <br>
        <!-- button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
    </div>

    <br>
    <h4 align="center">Accounts: </h4>
    <p align="center">test@test.com, 0000000</p>
    <p align="center">mattdeguia.work@gmail.com, 0000000</p>

{% endblock %}