<!-- extend the base template and change title of page -->
{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
{% block content%}

    <!-- SIGN UP form -->
    <div class="centered-form">
    <div class="form-container">
    <form method="POST">
        <h3 align="center">Sign Up</h3>
        <!-- email -->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
            />
        </div>
        <br>
        <!-- name -->
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="Enter first name"
            />
        </div>
        <br>
        <!-- pw1 -->
        <div class="form-group">
            <label for="password1">Password</label>
            <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                placeholder="Enter password"
            />
        </div>
        <br>
        <!-- pw2 -->
        <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Confirm password"
            />
        </div>
        <br>
        <br>
        <!-- button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>

{% endblock %}